html{
	
}

body{ 
	background-colour: #6e8894;
	margin: 0;


}
p.ex1 {
  max-width: 900px;
}
.content {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}





h{
font-family: verdana;
font-size 40px;
text-align: center;
	margin-right: 150px;
  margin-left: 150px;
}





p {
text-align: center;
font-family: verdana;
color: black;
}
 
ul{
	
}

li{
	
}
.my-columns {
  display: flex;
  margin-bottom: 20px;
}


.my-columns-5 .column {
  flex-basis: 20%;
}


.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

